@model List<Client.Models.MoneyTransfer>
@{
    ViewData["Title"] = "Prepared Money Transfers";
}

<h2>Commited Money Transfers</h2>

@if (TempData["Message"] != null)
{
    <p>@TempData["Message"]</p>
}

@if (Model == null || !Model.Any())
{
    <p>No money transfers are available.</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Client ID</th>
                <th>Book ID</th>
                <th>Quantity</th>
                <th>Amount of money</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transfer in Model)
            {
                <tr>
                    <td>@transfer.Id</td>
                    <td>@transfer.ClientId</td>
                    <td>@transfer.BookId</td>
                    <td>@transfer.Quantity</td>
                    <td>@transfer.Amount</td>
                </tr>
            }
        </tbody>
    </table>

}
